      .container{
            width: 100%;
        }
        .header{
            padding: 20px 0px;
            background-color: rgb(184, 92, 92);
            text-align: center;
            width: 100%;
            position: sticky;
            font-size: 1.3rem;
            top: 0;
        }
        .content{
            margin-left: 20px;
        }
