body {
    background-color: #aaa;
}

.container {
    display: flex;
    justify-content: center;
}

.add {
    height: 93vh;
    width: 300px;
    background-color: antiquewhite;
    position: fixed;
    padding: 15px;
    border-radius: 10px;
}

.add>div {
    text-align: center;
    color: #ffffff;
    background-color: rgb(161, 182, 46);
    margin-bottom: 20px;
    font-size: large;
    padding-top: 10px;
    height: 30px;
    border-radius: 5px;
}

.add input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

.add input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
.add input[type=text]:hover{
    border-color: yellowgreen;
    box-shadow: 0em 0.5em 0.5em -0.4em yellowgreen;
    transform: translateY(-0.25em);
    cursor:pointer;
}

.add .edit_book {
    visibility: hidden;
}

.add_book,
.edit_book {
    background-color: rgb(0, 255, 242);
    color: rgb(89, 98, 7);
    border-style: outset;
    border-color: #0066A2;
    height: 25px;
    width: 50px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

.edit_book {
    background-color: rgb(61, 133, 198);
}

.home {
    height: auto;
    width: 800px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    border-radius: 10px;
    background-color: #ffffff;
}

.home .book-info {
    background-color: rgb(32, 221, 196);
    text-align: center;
    height: 35px;
    font-size: large;
    color: #000000;
    position: sticky;
    width: 780px;
    margin: 10px 0 10px 10px;
    border-radius: 10px;
}

.home .items {
    text-align: center;
    width: 23%;
    margin: 1%;
    margin-left: 1%;
    box-shadow: rgba(17, 17, 26, 0.2) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
}

.items>img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.items .name,
.price,
.category {
    text-align: start;
    margin-left: 10px;
    padding-top: 10px;
}

.button {
    
    margin-top: 10px;
    margin-bottom: 5px;
}

.button .editBtn,
.deletBtn {
    border-style: outset;
    border-color: #0066A2;
    text-shadow: none;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(61, 133, 198);
    color: white;
}

.deletBtn {
    margin-left: 4px;
    background-color: rgb(240, 35, 35);
}

.edit_book {
    margin-left: -55px;
    text-align: center;
    width: 60px;
}

.items>img {
    height: 90px;
}
