        body {
            background-color: rgba(97, 105, 122, 0.5);
        }
        
        .container {
            display: flex;
            justify-content: center;
        }
        
        #canvasInput,
        #canvasOutput {
            align-items: center;
            border: 10px solid rgba(153, 153, 153, 0.7);
            border-top: 5px solid rgba(153, 153, 153, 0.7);
            background-color: rgba(88, 144, 255, 0.4);
        }
        
        #canvasOutput {
            margin-left: 17px;
        }
        
        .output {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .output>span {
            background-color: rgba(153, 153, 153, 0.7);
            height: 20px;
            color: #f7f7f7;
            padding: 10px;
            font-size: large;
        }
        
        .control {
            background-color: rgba(153, 153, 153, 0.7);
            width: 620px;
        }
        
        .control>span {
            color: #f7f7f7;
        }
        
        .control>div>button {
            margin-bottom: 5px;
            color: #f7f7f7;
            border: 2px solid #f7f7f7;
            border-radius: 5%;
            margin-top: 3px;
        }
        
        #start {
            background-color: rgb(10, 107, 235);
        }
        
        #stop {
            background-color: rgba(252, 36, 21, 0.8);
        }
        #start:hover{
            border-color: yellowgreen;
            color: white;
            box-shadow: 0em 0.5em 0.5em -0.4em yellowgreen;
            transform: translateY(-0.25em);
            cursor:pointer;
        }
        #stop:hover{
            border-color: rgb(255, 0, 0);
            color: white;
            box-shadow: 0em 0.5em 0.5em -0.4em rgb(255, 0, 0);
            transform: translateY(-0.25em);
            cursor:pointer;
        }